<!DOCTYPE html>
<html lang="en">
<head>
    <title>Checkout</title>
</head>
<body>

<h1>Checkout Page</h1>

<% if(currentUser){ %>
    <p>Welcome, <%= currentUser.name %></p>
<% } %>

<p>This page is protected.</p>

</body>
</html>