<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>NISHAT OUTLET</title>
    
    <link rel="stylesheet" href="/css/firstClone.css">

    <script>
    function toggleMenu() {
    document.querySelector(".nav-menu ul")
            .classList.toggle("mobile-menu");
    }
    </script>

</head>
<body>
    <link rel = "styleSheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <div class="announcement-bar">
        Today deal sale off 50%. End in time. Hurry Up!!
    </div>

    <header class="main-header">
    <div id="menuBar">

        <img id="logo" src="images/nishatlogo.png" alt="nishat logo">
        
  <div class="right">

  
    <a href="#"><i class="fa-solid fa-magnifying-glass icons"></i></a>
      <a href="#"> <i class="fa-regular fa-user icons"></i></a>
        <a href="#"> <i class="fa-regular fa-heart icons"></i></a>
    <a href="#"><i class="fa-solid fa-bag-shopping icons"></i></a>
</div>

</div>


    <nav class="nav-menu">
            <ul >
                <li><a style="color:red;" href="/collections/best-bargains">BEST BARGINS</a></li>
                <li><a href="/collections/unstitched">UNSTITCHED</a></li>
                <li><a href="/collections/loose-fabric">LOOSE FABRIC</a></li>
                <li><a href="/collections/ready-to-wear">READY TO WEAR</a></li>
                <li><a href="/collections/luxury">LUXURY</a></li>
                <li><a href="/collections/men">MEN</a></li>
                <li><a href="/collections/lowers">LOWERS</a></li>
                <li><a href="/collections/fashion">FASHION</a></li>
            </ul>

            <div class="menu-icon"onclick="toggleMenu()">
            <i class="fa-solid fa-bars"></i>
            </div>

        </nav>
        </header>

   
        <img id ="landing_img" src="https://nishatlinenfps.com/cdn/shop/files/2_7b284221-d11d-4f60-b6d4-231509e1e04d.jpg?v=1770197013&width=1500" alt="Banner 1">


        <h3 class="sectionTitle">
            <span>EXPLORE SEASONS</span>
        </h3>

 <div class="products-grid">

    <div class="products-card">
        <a href="/collections/summer-all">
            <img src="//nishatlinenfps.com/cdn/shop/files/1_0fa93865-717e-4331-aeab-f27239b429dd.jpg" alt="">
            <h3>SUMMER</h3>
        </a>
    </div>

    <div class="products-card">
        <a href="/collections/winter-all">
            <img src="//nishatlinenfps.com/cdn/shop/files/6_358ae107-3bb4-4454-9c8d-6fbf91bb0d26.jpg" alt="">
            <h3>WINTER</h3>
        </a>
    </div>

</div>

        
        </div>  
    </div>



        <h3 class="sectionTitle">
            <span>SHOP BY PERCENTAGES</span>
        </h3>

    <div class="products-grid">
        <div class="products-card">     
            <img src="images/50off.png" alt="Nishat Linen img" >
            <h3>FLAT 50% OFF</h3>
        </div>

            <div class="products-card">
            <img src="images/40off.png" alt="Nishat Linen Image">
            <h3>FLAT 40% OFF</h3> 
            </div>

            <div class="products-card">   
            <img src="images/40off2.png" alt="Nishat Linen Image">
            <h3>FLAT 40% OFF</h3>
          </div> 

        </div>


        <h3 class="sectionTitle">
            <span>EXPLORE CATEGORIES</span>
        </h3>
        

    <div class="products-grid">

  <div class="products-card">
        <img src="images/unstiched.png" alt="Nishat Linen Image">
        <h3>UNSTICHED</h3>
    </div>

    <div class="products-card">
       <img src="images/loosefabric.png" alt="Nishat Linen Image" >
         <h3>LOOSE FABRIC</h3>
    </div>
      <div class="products-card">
       <img src="images/Luxury.png" alt="Nishat Linen Image" >
         <h3>LUXURY</h3>
    </div>
      <div class="products-card">
       <img src="images/RTWear.png" alt="Nishat Linen Image" >
         <h3>READY TO WEAR</h3>
    </div>
       <div class="products-card">
       <img src="images/lowers.png" alt="Nishat Linen Image" >
         <h3>LOWERS</h3>
    </div>

    

    
  
    </div>


    
        <h3 class="sectionTitle">
            <span>EXPLORE TYPES</span>
        </h3>

    <div class="products-grid">

        <div class="products-card">
                <img src="https://nishatlinenfps.com/cdn/shop/files/1_513b5b20-b4f8-4ef4-814f-2568e89efca9.jpg?v=1770197698" alt="Unstitched">
                <h3>PRINTED</h3>
        </div>
                
     <div class="products-card">
<img src="https://nishatlinenfps.com/cdn/shop/files/embroidered-01.jpg?v=1770197717" alt="Embroidered">
<h3>EMBROIDERED</h3>
</div>

    <div class="products-card">

    <img src="https://nishatlinenfps.com/cdn/shop/files/2_5f1e2a32-2d9b-4cfc-b7ff-36ef2df1d362.jpg?v=1770197743" alt="Unstitched">
<h3>UNSTITCHED</h3>
</div>

    <div class="products-card">
<img src="https://nishatlinenfps.com/cdn/shop/files/MEN2.jpg?v=1770197779" alt="Men Collection">
<h3>MEN</h3>
</div>
    </div>


        <h3 class="sectionTitle">
            <span>EXPLORE PIECES</span>
        </h3>

    <div class="products-grid">
        <div class="products-card">
            <img src="https://nishatlinenfps.com/cdn/shop/files/1_cffdc8ed-338d-4a99-a042-c69e04012ed5.jpg" alt="Nishat Collection">
 <h3>1-PIECE</h3>
        </div>

        <div class="products-card">
        <img src="https://nishatlinenfps.com/cdn/shop/files/2_piece.jpg" alt="2-Piece">
        <h3>2-PIECE</h3>
    </div>

    <div class="products-card">
        <img src="https://nishatlinenfps.com/cdn/shop/files/3_pc.jpg" alt="3-Piece" >
        <h3>3-PIECE</h3>
    </div>
    </div>
<!-- WHITE SECTION -->
<div class="footer-top">
    <div class="footer-top-content">
    <div class="footer-box">  
        <i class="fa-solid fa-truck"></i>
        <div>
    <h4>Track Your Order</h4>
    <p>Click here for quick update</p>
</div>
</div>

<div class="footer-box">
        <i class="fa-solid fa-headset"></i>
<div>
    <h4>SUPPORT 24/7</h4>
    <p>Contact us 24 hours a day, 7 days a week</p>
</div>
</div>

<div class="footer-box">
        <i class="fa-solid fa-lock"></i>
<div>
    <h4>100% PAYMENT SECURE</h4>
    <p>We ensure secure payment with PEV</p>
</div>
</div>

<div class="footer-box"> 
    <i class="fa-solid fa-credit-card"></i>
<div>
   
    <h4>Payment Methods</h4>
    <p>COD, Credit Card: Visa, Master Card</p>
</div>
</div>

    </div>
</div>



<footer class="footer-bottom-section">
    <div class="footer-bottom-content">

        <div>
            <p>21 Km Ferozpur Road Lahore Pakistan.</p>
            <p>nlfps@nishatmills.com</p>
            <p>+92 42 111 647 428</p>
        </div>

        <div>
            <h4>Information</h4>
            <br>
            <p>Order Tracking</p>
            <p>Store Locator</p>
            <p>About Us</p>
        </div>

        <div>
            <h4>Customer Services</h4>
            <br>
            <p>FAQs</p>
            <p>Size Guide</p>
            <p>Contact Us</p>
        </div>

        <div>
            <h4>Newsletter Signup</h4>
            <br>
            <p>Subscribe to our newsletter</p>
            <input type="email" placeholder="Your email address">
                <button>Subscribe</button>
        </div>

    </div>
</footer>

<!-- 
<footer class="footer">
        <div class="footer-content">
            <div class="footer-section">           

        <div class="footer-box">
        <h3>Track Your Order</h3>
       </div>

    <div class="footer-box">
        <h3>SUPPORT 24/7</h3>
        <p>Contact us 24 hours a day, 7 days a week</p>
    </div>

    <div class="footer-box">
        <h3>100% PAYMENT SECURE</h3>
        <p>We ensure secure payment with PEV</p>
    </div>

    <div class="footer-box">
        <h3>Payment Methods</h3>
        <p>COD, Credit Card: Visa, Master Card</p>
    </div>

</div>

            <div class="footer-container">

        <div class="footer-column contact">
            <p>21 Km Ferozpur Road Lahore Pakistan.</p>
            <p>nlfps@nishatmills.com</p>
            <p>+92 42 111 647 428</p>
        </div>

        <div class="footer-column">
            <h3>Information</h3>
            <ul>
                <li><a href="#">Order Tracking</a></li>
                <li><a href="#">Store Locator</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Customer Services</h3>
            <ul>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Size Guide</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Return & Exchange Policy</a></li>
            </ul>
        </div>

     
        <div class="footer-column newsletter">
            <h3>Newsletter Signup</h3>
            <p>Subscribe to our newsletter and get latest updates.</p>

            <div class="newsletter-box">
                <input type="email" placeholder="Your email address">
                <button>Subscribe</button>
            </div>
        </div>

    </div>

    <div class="footer-bottom">
        <p>Copyright © 2026 Nishat Outlet. All rights reserved.</p>
    </div>

    </footer>-->

</body>
</html>
