/* Reset and Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.announcement-bar{
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 12px;
    padding-bottom: 12px;

}
.main-header {
    position: sticky;
    top: 0;
    background-color: white;
 
}
 #menuBar {
    display: flex;
    padding: 15px;
    padding-bottom: 40px;
}


.icons {
    width: 25px;
}

.right {
    display: flex;
    gap:10px;
    margin-left: auto; 
}

/* Logo perfectly center */
#logo {
 
    width: 120px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);     
}

.nav-menu {
    border-top: 1px solid rgb(222, 214, 214);
    padding-bottom: 20px;
 
}

.nav-menu ul{
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 25px;
    padding-top: 20px;
    

}
.nav-menu ul li a{
    text-decoration: none;
    color:black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

}
#landing_img{
    width: 100%;
    height: auto;
}

.products-grid {
    display: flex;
    justify-content:center;
    gap: 15px;
    margin: 15px 0;
    flex-wrap: wrap;
}

.products-card {
    width: 100%;
    max-width: 350px;
    text-align: center;
}

.products-card img {
    width: 100%;
    height: auto;
    /* display: block; */
}

.products-card a {
    text-decoration: none;
    color: black;
}

.products-card h3 {
    margin-top: 15px;
    font-weight: 650;
    font-family: "monospace";
    letter-spacing: 3px;
}


.sectionTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:700;
    letter-spacing: 3px;
    margin-top: 45px;
    padding-bottom: 0;
    font-family:sans-serif;
}

.footer-section {
    display: flex;
    justify-content: space-between;  /* evenly spread */
    align-items: flex-start;
    width: 100%;
}

.footer-box {
    width: 30%;              /* taake 3 columns ban jayein */
}

.footer-box h3 {
    margin-bottom: 5px;
}

.footer-box {
    display: flex;
    flex-direction: column;   /* h3 ke neeche p */
}

.sectionTitle::before,
.sectionTitle::after {
    content: "";
    width: 60px;     /*line ki length control yahan se */
    height: 2px;                 /* line thickness */
    background: black;    /* line color */
}

.sectionTitle span {
   
    margin: 0 30px;     /* text ke left right gap */
}


@media (max-width: 768px) {
    #logo {
        width: 90px;
    }

    .nav-menu ul {
        flex-wrap: wrap;
        gap: 25px;
        font-size: 10px;
    }

    .products-card {
        max-width: 80%;
    }

}















