/* Reset and Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.announcement-bar{
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 12px;
    padding-bottom: 12px;

}
#menuBar {
    padding: 15px;
    overflow: hidden;
    position: relative;
    padding-bottom: 40px;
}

/* Icons right */
.icons {
    float: right;
    width: 25px;
    margin-left: 15px;
}

/* Logo perfectly center */
#logo {
    width: 120px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-menu {
    border-top: 1px ridge gray;
    padding-bottom: 20px;
 
}

.nav-menu ul{
    list-style: none;
    justify-content: center;
    display: flex;
    gap: 25px;
    padding-top: 20px;
    

}
.nav-menu ul li a{
    text-decoration: none;
    color:black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

}
#landing_img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: right center;
}







